*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: crimson;
    text-decoration: underline;
    
}

footer{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 3rem;
    background-color: crimson;
    position: absolute;
    bottom: 0;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    margin-top: 0.5rem;
}

